* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", sans-serif;
}

.input-wrap,
.output-wrap {
  margin: 20px 20px;
}

.main-wrap {
  height: 300px;
  width: 750px;
  background-color: rgb(255, 0, 76);
  margin-left: 20px;
}

.output-wrap,
.moves-wrap {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100px;
  width: 700px;
}

.moves_item {
  font-size: 20px;
}
#output_name,
#output_id,
#output_moves {
  font-size: 30px;
}
